/* TEXT */
.heading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size:  4.643962848297214vh;
}
.subtitle{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size:  2.7863777089783284vh;
}
.subheading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.1671826625387vh
}
.paragraph{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 2.1671826625387vh
}


/* COLORS */
.primary{
    color:#293359;
}
.accent{
    color: #0FD991;
}
.grey{
    color: #AEB3B9;
}
.black{
    color: #000000;
}
.red{
    color: #EE350F;
}

/* LINE HEIGHT */
.lh-default{
    line-height: 1.2;
}

/* ICON SIZES */
.small{
    font-size: 24px;
}
.large{
    font-size: 40px;
}
