/* registration.html custom css */

:root{
    --f7-theme-color:#0FD991!important;
    --f7-theme-color-rgb: 15, 217, 145 !important;
    --f7-theme-color-shade: #0FD991 !important; 
    --f7-theme-color-tint:#0FD991 !important;
}